<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="CQMobile" connectionString="Data Source=10.30.5.24;Initial Catalog=CQMobile;Integrated Security=false;User=CQMobile;Password=CQm0bile" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- DB config -->
    <add key="DB.CQMobile.Conn.Name" value="CQMobile" />
    <!-- Log config -->
    <add key="Log.Config" value="Config\log.config" />
    <!-- Redis config -->
    <add key="Redis.Hostname" value="10.30.5.50" />
    <add key="Redis.Port" value="6379" />
    <add key="Redis.AbortOnConnectFail" value="true" />
    <add key="Redis.AllowAdmin" value="true" />
    <add key="Redis.DefaultDatabase" value="0" />
    <add key="Redis.KeepAlive" value="1" />
    <add key="Redis.ClientName" value="NovaExchangeRateChecker" />
    <add key="Redis.Password" value="redis123" />
    <!-- App config -->
    <add key="ExchangeRateCheckerSleepTime" value="10000" />
    <!-- SP config -->
    <add key="SP.GetExchangeRateList" value="[dbo].[Usp_NovaExchangeRateChecker_Fetch_ExchangeRateList]" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>